<div class="title-area-password">
  <h3><span class="mypage-title">　パスワード変更　</span></h3>
</div>

<div class="container">
  <div class="row-sm-12">
    <div class="col-md-10 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <span class="change-label"><%= f.label :email %>　</span></br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %></br></br>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %></br>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div></br></br>
        <% end %>

        <div class="field">
          <span class="change-label"><%= f.label :新しいパスワード %>　</span></br>
          <%= f.password_field :password, autocomplete: "new-password" %></br></br>
          <% if @minimum_password_length %>
            <em><% @minimum_password_length %></em>
          <% end %>
        </div>

        <div class="field">
          <span class="change-label"><%= f.label :新しいパスワードをもう一度入力 %>　</span></br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %></br></br>
        </div>

        <div class="field">
          <span class="change-label"><%= f.label :現在使用しているパスワード  %>　</span></br>
          <%= f.password_field :current_password, autocomplete: "current-password" %></br></br>
        </div>
    </dv>
  </dv>
  <div class="row">
    <div class="col-md-3">
      <div class="actions change-button">
        　　　<%= f.submit "　変更　", class: "btn btn-default btn-lg btn-primary create-btn btn-lg" %>
      </div>
    </div>
  </div>
  <% end %>
</dv>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<!--<%= link_to "Back", :back %>-->
