<div class="container">
  <div class="row">
    <h3 class="show-title">商品詳細</h3>
    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
    </div>
    <div class="col-lg-6">
      <table class="table table-hover table-inverse">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
          </div>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.description %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @genre.name %></td>
        </tr>
        <tr>
          <td>税込価格（税抜価格）</td>
          <td><%= ((@item.price * 1.1).round(2)).ceil.to_s(:delimited)  %>（<%= @item.price.to_s(:delimited) %>）円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @item.is_sale == true %>
              販売中
            <% else %>
              販売停止
            <% end %>
          </td>
        </tr>
      </table>
      <div id = "item-action-btn">
        <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-default btn-lg btn-info " %>
      </div>
    </div>
  </div>
</div>