<div id = "title">
  <h2>会員一覧</h2>
</div>

<div class="container">
  <div class="row">
  <div class="col-lg-8">

<table class="customer-indextable">
	<thead>
		<tr>
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>

	<tbody>
		<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.id %></td>
			<td>
				<%= link_to admin_customer_path(customer.id) do %>
					<%= customer.last_name %>
					<%= customer.first_name %>
	　　	<% end %>
			</td>
			<td><%= customer.email %></td>
			<td>
        <% if customer.is_quit == true %>
          退会済
        <% else %>
          有効
        <% end %>
      </td>
		</tr>
		<% end %>
	</tbody>
</table>
	</div>
  </div>
</div>