<div id = "title">
  <h2><%= @customer.last_name %><%= @customer.first_name  %>さんの会員詳細</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <table class="customer-table">
        <tr>
          <td>顧客ID</td>
          <td><%= @customer.id %></td>
          <td>
            <% if @customer.is_quit == true %>
              退会済
            <% else %>
              有効会員
            <% end %>
          </td>
        </div>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %></td>
          <td><%= @customer.first_name  %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %></td>
          <td><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
      </table>
      <div class="col-md-2">
        <div id = "customer-action-btn">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-default btn-info " %>
        </div>
      </div>
      <div class="col-md-2">
        <div id = "orders-action-btn">
          <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-default btn-info " %>
        </div>
      </div>
  </div>
</div>
