<h3 class="show-title-admin"><%= @customer.last_name %><%= @customer.first_name  %>さんの会員詳細</h3>
<div class="container">
  <div class="row">

    <div class="col-lg-8">

      <table class="customer-table ">
        <tr>
          <td>顧客ID</td>
          <td><%= @customer.id %></td>
          <td>
            <% if @customer.is_quit == true %>
              <span class="label label-danger">退会済</span>
            <% else %>
              <span class="label label-info">有効会員</span>
            <% end %>
          </td>

        </div>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %></td>
          <td><%= @customer.first_name  %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %></td>
          <td><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
      </table>
      <div class="col-md-2">
        <div id = "customer-action-btn">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-default btn-primary " %>
        </div>
      </div>
      <div class="col-md-2">
        <div id = "orders-action-btn">
          <%= link_to "注文履歴一覧を見る", admin_orders_path(order_sort: 1,customer_id: @customer), class: "btn btn-default btn-primary " %>
        </div>
      </div>
  </div>
</div>
