<div class="title-area">
  <h3><span class="order-info-title">　管理者注文履歴詳細　</span></h3>
</div>

<div class="container-fluid">

  <div class="row-sm-12 order-info-show">
  <!--注文者情報テーブル-->
    <table class="table">
        <tr>
          <th class="">購入者</th>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <%= form_with model:@order_status, url: admin_order_path, method: :patch,local:true do |f| %>
            <td>
              <%= f.select :status, Order.statuses.keys, :selected=>Order.statuses[@order.status] %>
              <%= f.submit :更新, class: "btn btn-md btn-primary" %>
            </td>
          <% end %>

        </tr>
      </table>
  </div>



    <div class="col-sm-3 order-info-show">
    <!--金額情報テーブル-->
      <table class="table table-noborder">
        <tr>
          <th class="success">商品合計</th>
          <td><%= %>円</td>
        </tr>
        <tr>
          <th class="success">送料</th>
          <td><%= %>円</td>
        </tr>
        <tr>
          <th class="success">請求金額合計</th>
          <td><%= %>円</td>
        </tr>
      </table>
    </div>

  </div>

</div>
