<div class= "container">
  <div class="row">
      <div class="col-lg-6 genre-edit-box">
        <h3><span class="genre-edit-title">　ジャンル編集　</span></h3>
        <br></br>
        <div class="edit_genre">
        <!--ジャンル編集-->
          <%= form_with model: @genre, url: admin_genre_path, local: true do |form| %>
            <% if @genre.errors.any? %>
              <div class="alert alert-position">
                <ul>
                  <% @genre.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div><%= "ジャンル" %>
            <%= form.text_field :name %>
            　　<%= form.radio_button :is_valid, :true %>
            <%= form.label :is_vaild, "有効", value: :true %>
            <%= form.radio_button :is_valid, :false %>
            <%= form.label :is_vaild, "無効", value: :false %>
            　　<%= form.submit "変更を保存する", class: "btn btn-info" %>
            </div>
          <% end %>
        </div>

      </div>
  </div>
</div>
