<div class= "container">
  <div class="row">
    <div class="col-sm-5 genre-index-box">
      <h3><span class="genre-title-index">　ジャンル一覧・追加　</span></h3>
      <br></br>
      <div class="add_genre">
      <!--ジャンル登録-->
        <%= form_with model: @genre, url: admin_genres_path, local: true do |form| %>
          <% if @genre.errors.any? %>
            <div class="alert alert-position">
              <ul>
                <% @genre.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class = "genre-add">
          <%= "ジャンル" %>
          <%= form.text_field :name %>
          <!--ラジオボタン-->
          　　<%= form.radio_button :is_valid, :true, checked: true %>
          <%= form.label :is_vaild, "有効", value: :true %>
          <%= form.radio_button :is_valid, :false %>
          <%= form.label :is_vaild, "無効", value: :false %>
          　　<%= form.submit " 追加 ", class: "btn btn-info" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<br></br>
  <div class="row">
    <div class="col-sm-5">
      <div class="genre_index">
      <!--ジャンル一覧表-->
      <table class='table table-hover table-inverse'>
        <thead>
          <tr class="active">
            <th>ジャンル</th>
            <th>状態</th>
            <th><!--編集する--></th>
          </tr>
        </thead>

        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td>
                <% if genre.is_valid == true %>
                  <p>有効</p>
                <% else %>
                  <p>無効</p>
                <% end %>
              </td>
              <td class="edit-btn"><%= link_to '編集する', edit_admin_genre_path(genre.id), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
</div>

