<div class="title-area-cart">
  <h3><span class="order-info-title">　ショッピングカート　</span></h3>
</div>

<div class="container-fluid">
  <div class="row-sm-12 cart-info-table">

		<% if @cart_items.exists? %>
			<% flash.each do |key, value| %>
	      <%= content_tag(:div, value, class: "#{key} #{key}-position") %>
	    <% end %>

			<div id = destroyall_button>
			<%= link_to " カートを空にする ", cart_items_destroy_all_path, method: :delete,data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
			</div>
			<div>
			<table class="table table-bordered">
				<thead>
					<tr class="success">
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th><!--削除ボタン--></th>
					</tr>
				</thead>

				<tbody>

					<% @cart_items.each do |cart_item| %>
					<tr>
						<td>
							<%= attachment_image_tag cart_item.item, :image, :fill, 50, 50, format: 'jpeg' %>
							<%= cart_item.item.name %>
						</td>
						<td><%= ((cart_item.item.price * 1.1).round(2)).ceil.to_s(:delimited) %>円</td>
						<td><%= form_with model:cart_item, url: cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
								<%= f.text_field :item_count %>
			       		<%= f.submit :変更, class: "btn btn-primary" %>

								<% end %>
						</td>
						<td><%= ((((cart_item.item.price * 1.1).round(2)).ceil) * (cart_item.item_count)).to_s(:delimited) %>円</td>
						<td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete,data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			</div>

			<div class="button-box">
				<div class="shopping-button">
					<%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
				</div>
				<div class="shopping-price-table">
					<table class="table table-bordered">
						<tr>
							<th class="success">合計金額</th>
							<td><%= @total_price.to_s(:delimited) %>円</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="order-button">
				<%= link_to "　情報入力に進む　", new_order_path, class: "btn btn-success btn-lg" %>
			<% else %>
			<h3 class="non-cart-text">カートには商品が追加されていません。</h3></br></br>
			<div>
				<%= link_to "買い物を続ける", root_path, class: "btn btn-primary btn-lg" %>
			</div>
		<% end %>

	</div>
</div>