<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with model: @customer do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <%= render "customers/shared/links" %>
    </div>
  </div>
</div>


