<div class="title-area">
  <h3><span class="order-info-title">　注文情報確認　</span></h3>
</div>

<div class="container-fluid">
  <div class="row-xs-12 order-info-table">

    <div class="col-xs-8 item-info-table">
    <!--商品情報テーブル-->
      <table class="table table-bordered">
      	<thead>
      		<tr class="success">
      			<th>商品名</th>
      			<th>単価（税込)</th>
      			<th>数量</th>
      			<th>小計</th>
      		</tr>
      	</thead>

      	<tbody>
      	  <% @cart_items.each do |cart_item| %>
      		<tr>
      			<td>
      			  <%= attachment_image_tag cart_item.item, :image, :fill, 50, 50, format: 'jpeg', alt: "商品画像" %>
				      <%= cart_item.item.name %>
      			</td>
      			<td><%= ((cart_item.item.price * 1.1).round(2)).ceil.to_s(:delimited) %>円</td>
      			<td><%= cart_item.item_count %>個</td>
      			<td><%= ((((cart_item.item.price * 1.1).round(2)).ceil) * (cart_item.item_count)).to_s(:delimited) %>円</td>
      		</tr>
      		<% end %>
      	</tbody>
      </table>

      <!--支払方法・届先・購入ボタン-->
      </br></br>
      <p><span style="font-size: 18px;font-weight: bold;">支払方法</span>　　<%= @order.payment_method %></p>
      </br></br>
      <p><span style="font-size: 18px;font-weight: bold;">お届け先</span>　　〒<%= @order.postcode %>　<%= @order.address %></br>　　　　　　 <%= @order.name %> 様</p>

      <%= form_for @order, url: orders_path do |f| %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        <%= f.hidden_field :postcode, :value => @order.postcode %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :billing_amount, :value => @billing_amount %>
        </br>
        <div class="submit-button"><%= f.submit "　購入を確定する　", class: "submit-button btn btn-success btn-lg" %></div>
      <% end %>
    </div>

    <div class="col-sm-3">
    <!--金額テーブル-->
      <table class="table table-bordered">
        <tr>
          <th class="success">送料</th>
          <td><%= @shipping_fee %>円</td>
        </tr>
        <tr>
          <th class="success">商品合計</th>
          <td><%= @total_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="success">請求金額</th>
          <td><%= @billing_amount.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>

  </div>
</div>