<div class="title-area">
  <h3><span class="order-info-title">　注文情報入力　</span></h3>
</div>

<div class="container-fluid">
  <div class="row-sm-12 order-info">
    <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>

      <span class="info-title"><%= "支払方法" %></span></br>
        <p>
          　　<%= f.radio_button :payment_method, {クレジットカード: 0}, checked: true %>
          <%= f.label :クレジットカード, class: "payment_method_label" %>
          </br>
          　　<%= f.radio_button :payment_method, {銀行振込: 1} %>
          <%= f.label :銀行振込, class: "payment_method_label" %>
        </p>
      <span class="info-title"><%= "お届け先" %></span></br>
        <p>
          　　<%= f.radio_button :address, :お届け先, checked: true %>
          <%= f.label :ご自身の住所, class: "address_label" %>
          </br>
          <%= "未完成！登録時住所が表示される場所" %></br>
          　　<%= f.radio_button :address, :登録済住所から選択 %>
          <%= f.label :登録済住所から選択, class: "address_label" %>
          </br>
          <%= "未完成！配送先住所が登録できたら、プルダウンリストを作れる" %></br>
          　　<%= f.radio_button :address, :新しいお届け先 %>
          <%= f.label :新しいお届け先, class: "address_label" %>
        </p>
        <div class="form-group">
          <label for="postcode1" class="col-sm-2 control-label"><%= f.label :"　郵便番号(ハイフンなし)" %></label>
            <div class="col-sm-2">
              <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "form-control", id:"postcode1" %>
            </div>
        </div>
        </br></br>
        <div class="form-group">
          <label for="address1" class="col-sm-2 control-label"><%= f.label :　住所 %></label>
            <div class="col-sm-4">
              <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", id:"address1" %>
            </div>
        </div>
        </br></br>
        <div class="form-group">
          <label for="name1" class="col-sm-2 control-label"><%= f.label :　宛名 %></label>
            <div class="col-sm-2">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id:"name1" %>
            </div>
        </div>
        </br></br>
        <div class="submit-button"><%= f.submit "　確認画面へ進む　", class: "btn btn-primary btn-lg" %></div>
    <% end %>
  </div>
</div>


