<div class="container">
  <div class="row">
    <h2 class="order-info-title text-center">注文情報入力</h2>
    <br>
    <div class="col-md-9 col-md-offset-2">
      <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
      <h3><strong>〜支払い方法〜</strong></h3>
      <br>
      <%= f.radio_button :payment_method, "クレジットカード", checked: true %>
      <%= f.label :クレジットカード, class: "payment_method_label" %>
      </br>
      <%= f.radio_button :payment_method, "銀行振込" %>
      <%= f.label :銀行振込, class: "payment_method_label" %>
    <br></br>
      <h3><strong>〜お届け先選択〜</strong></h3>
      <br>
      <div class="form-group">
        <%= radio_button_tag :delivery_address_type, "ご自身の住所", checked: true %>
        <%= f.label "ご自身の住所", class: "address_label" %>
        <br>
          〒<%= current_customer.postcode %>
            <%= current_customer.address %>
            <%= current_customer.last_name %><%= current_customer.first_name %>
      </div>
      <div class="form-group">
        <%= radio_button_tag :delivery_address_type, "登録済み住所から選択" %>
        <%= f.label "登録済み住所から選択", class: "address_label" %>
        <br>
        <!--<div class="col-md-9">-->
          <%= f.collection_select :shipping_address_id, current_customer.shipping_addresses, :id, :full_address, include_blank:"選択してください", class:"form-control" %>
        <!--</div>-->
      </div>
      <br></br>
      <div class="form-group">
        <%= radio_button_tag :delivery_address_type, "新しいお届け先" %>
        <%= f.label "新しいお届け先", class: "address_label" %>
      </div>
          <div class="form-group">
            <label for="inputPostcode3" class="col-sm-3 control-label"><%= f.label :"郵便番号(ハイフンなし)" %></label>
              <div class="col-sm-3">
                <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "form-control", id:"inputPostcode3" %>
              </div>
          </div>
          <br></br><br></br>
          <div class="form-group">
            <label for="inputAddress3" class="col-sm-3 control-label"><%= f.label :住所 %></label>
              <div class="col-sm-8">
                <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", id:"inputAddress3" %>
              </div>
          </div>
          <br></br><br></br>
          <div class="form-group">
            <label for="inputName3" class="col-sm-3 control-label"><%= f.label :宛名 %></label>
              <div class="col-sm-3">
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id:"inputName3" %>
              </div>
          </div>
      <br></br>
      <div class="action-group">
        <%= f.submit "確認画面へ進む", class:"btn btn-primary center-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>



