<div class="title-area">
  <h3><span class="order-info-title">　注文履歴詳細　</span></h3>
</div>

<div class="container-fluid">
  <div class="row-sm-12 order-history-show">

    <div class="col-sm-6">
    <!--注文情報テーブル-->
      <p class="info-title">注文情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="success col-xs-3">注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th class="success">配送先</th>
          <td>〒<%= @order.postcode %></br>
          <%= @order.address %></br>
          <%= @order.name %></td>
        </tr>
        <tr>
          <th class="success">支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th class="success">ステータス</th>
          <td><%= @order.status %></td>
        </tr>
      </table>
    </div>

    <div class="col-sm-3">
    <!--請求情報テーブル-->
      <p class="info-title">請求情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="success col-xs-5">商品合計</th>
          <td><%= (@order.billing_amount - @order.shipping_fee).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="success">配送料</th>
          <td><%= @order.shipping_fee %>円</td>
        </tr>
        <tr>
          <th class="success">御請求額</th>
          <td><%= @order.billing_amount.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>

    <div class="col-sm-8">
    <!--注文内容テーブル-->
      <p class="info-title">注文内容</p>
      <table class="table table-bordered">
      	<thead>
      		<tr class="success">
      			<th class="col-xs-6">商品</th>
      			<th class="col-xs-2">単価（税込）</th>
      			<th class="col-xs-2">個数</th>
      			<th class="col-xs-2">小計</th>
      		</tr>
      	</thead>
      	<tbody>
      	  <% @order_items.each do |order_item| %>
      		<tr>
      			<td><%= order_item.item.name %></td>
      			<td><%= order_item.price_including_tax.to_s(:delimited) %>円</td>
      			<td><%= order_item.item_count %>個</td>
      			<td><%= (order_item.price_including_tax * order_item.item_count).to_s(:delimited) %>円</td>
      		</tr>
      		<% end %>
      	</tbody>
      </table>
    </div>

  </div>
</div>