<header class="navbar navbar-default">
  <div class="container-fluid">

      <!--ロゴ-->
      <nav class="nav navbar-header navbar-left">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag 'logo.jpg', class: "logo_image", fallback: "ロゴ画像" %>
          <% end %>
          <span class="header-text">　長野県にある小さな洋菓子店</span>
        </div>
      </nav>

      <!--メニューボタン-->
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if customer_signed_in? %>
            <li class="button"><%= link_to " マイページ ", customers_my_page_path, class:"btn btn-default btn-lg" %></li>
            <li class="button"><%= link_to " 商品一覧 ", items_path, class:"btn btn-default btn-lg" %></li>
            <li class="button"><%= link_to " カート ", cart_items_path, class:"btn btn-default btn-lg" %></li>
            <li class="button"><%= link_to " ログアウト ", destroy_customer_session_path, method: :delete, class:"btn btn-default btn-lg" %></li>
            
          <% elsif admin_signed_in? %>
            <li><%= link_to "商品一覧", admin_items_path, class:"btn btn-default btn-lg admin-button" %> </li>
            <li><%= link_to "会員一覧", admin_customers_path, class:"btn btn-default btn-lg admin-button" %></li>
            <li><%= link_to "注文履歴一覧", admin_orders_path, class:"btn btn-default btn-lg admin-button" %></li>
            <li><%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-default btn-lg admin-button" %></li>
            <li><%= link_to "ログアウト", admin_sign_out_path, method: :delete, class:"btn btn-default btn-lg admin-button" %></li>
          <% else %>
            <li class="button"><%= link_to " About ", homes_about_path, class:"btn btn-default btn-lg" %></li>
            <li class="button"><%= link_to " 商品一覧 ", items_path, class:"btn btn-default btn-lg" %></li>
            <li class="button"><%= link_to " 新規登録 ", new_customer_registration_path, class:"btn btn-default btn-lg" %></li>
            <li class="button"><%= link_to " ログイン ", new_customer_session_path, class:"btn btn-default btn-lg" %></li>
          <% end %>
        </ul>
      </nav>
      <br></br><br></br>
    <% if admin_signed_in? %>
    <div class="search-form">
      <%= form_tag(items_path,:method => 'get') do %>
        <%= text_field_tag :name %>
        <%= submit_tag '検索' %>
      <% end %>
    </div>
    <% end %>
  </div>
</header>