<!DOCTYPE html>
<html>
  <head>
    <title>AsagaoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="footer"><p class="footer-text">©2020 asagao-cake</p></div>
        </div>
      </div>
    </footer>

  </body>
</html>
